/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.idea/
Gemfile.lock
*.gem
sonar-project.properties
/.scannerwork/
utils.txt

# C extension build artifacts
ext/**/*.so
ext/**/*.bundle
ext/**/*.o
ext/**/Makefile
ext/**/mkmf.log
ext/**/*.log
